mixin js(path)
  script(type='text/javascript', src=path)
mixin css(path)
  link(rel='stylesheet', href=path)
mixin template(id)
  script(id=id, type="text/x-jquery-tmpl")
    block

!!! 5
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="initial-scale=1.0,width=device-width,user-scalable=no")
    title Aspen
    +css('lib/codemirror/codemirror.css')
    +css('lib/bootstrap/css/bootstrap.min.css')
    +css('index.css')
    style.
      .errorLine {
        background: #f2dede !important;
      }
  body(style="padding: 30px;")
    input#file-open-dialog(type='file', style='display:none;', accept=".c")
    .container(style="width: 960px;")
      .alert.alert-danger#NotSupportedBrouserAlert(style="display: none;")
        | Your browser is not supported. please use Internet Explorer 10 or 11, Google Chrome or Firefox.
      .navbar.navbar-default
        .navbar-header.pull-right
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand Aspen
        .navbar-collapse
          button.btn.navbar-btn.btn-default(type='button', data-toggle='dropdown')
              | &nbsp;
              span.glyphicon.glyphicon-file
              | &nbsp;
              | File
              | &nbsp;
              span.caret
          ul.dropdown-menu(role='menu', style='right: auto;')
            li
              a#create-file-menu(href='#')
                span.glyphicon.glyphicon-plus
                | &nbsp;
                | New File ...
            li
              a#open-file-menu(href='#')
                span.glyphicon.glyphicon-folder-open
                | &nbsp;
                | Open File ...
            li
              a#save-file-menu(href='#')
                span.glyphicon.glyphicon-floppy-save
                | &nbsp;
                | Save
            li
              a#rename-menu(href='#')
                span.glyphicon.glyphicon-edit
                | &nbsp;
                | Rename ...
            li.divider
            li
              a#delete-file-menu(href='#')
                span.glyphicon.glyphicon-remove
                | &nbsp;
                | Delete File
            li
              a#delete-all-file-menu(href='#')
                span.glyphicon.glyphicon-remove
                | &nbsp;
                | Delete All Files
          | &nbsp;
          button#compile.btn.navbar-btn.btn-primary(type='button', data-toggle="tooltip", title="Run&nbsp;(Ctrl-Enter)")
            | &nbsp;
            span.glyphicon.glyphicon-play
            | &nbsp;
            | Run
      +template('file-list-template')
        li
          a(href='#',id='${BaseName}') ${Name}
          //a(href='#', id='close${BaseName}')
            span.glyphicon.glyphicon-remove
      p
        ul#file-name-lists.nav.nav-tabs
          li
            a#create-file(href='#', data-toggle="tooltip", title="New&nbsp;File")
              span.glyphicon.glyphicon-plus
          li.pull-right
            a#delete-file(href='#', data-toggle="tooltip", title="Delete&nbsp;File")
              span.glyphicon.glyphicon-remove
      p
        textarea#editor(rows="20", style="width:100%;")
      .panel.panel-default
        .panel-heading
          h4 Console Output
        #output.panel-body
    // Include all compiled plugins (below), or include individual files as needed
    +js('lib/jquery.min.js')
    +js('lib/jquery.tmpl.min.js')
    +js('lib/bootstrap/js/bootstrap.min.js')
    +js('lib/codemirror/codemirror.js')
    +js('lib/codemirror/display/placeholder.js')
    +js('lib/codemirror/mode/clike/clike.js')
    +js('lib/FileSaver.js')
    // JavaScript plugins (requires jQuery)
    +js('index.js')
    +js('ua.js')
